body {
    /* background-image: url("images/onepunchman.jpg"); */
    background-color: #EAE8E3;
   }


.activityIcon {
    width: 80px;
    height: auto;
}

.leaderboardIcon {
    width: 50px;
    height: auto;
}

.profileIcon {
    width: 60px;
    height: auto;
}
.activityDiv {
    text-align: left;
}

.leaderboardDiv {
    text-align: center;
}

.profileDiv {
    text-align: right;
}

